@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
:root {
  --beeDark: #242424;
  --beeYellow: #ecae01;
  --littleBlack: #131313;
  --MainPreset1: #63232d;
  --MainPreset2: #7a4044;
  --MainPreset3: #dca578;
  --MainPreset4: #f3d29c;
  --MainPreset5: #fdeeb0;
  --MainPreset6: #fef8d1;
  --MainPreset7: #d1ea9d;
  --MainPreset8: #afe29d;
  --MainPreset9: #74adaf;
  --MainPreset10: #c1b9ad;
  --MainPreset11: #766664;
  --LightBeige: #c7b385;
  --DarkBrown: #261c23;
}
* {
  font-family: "Monsterrat", "Jeju Gothic", serif;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: Medium;
  font-size: 15px;
  text-decoration: none;
}

body {
  background-color: #a19f9a;
}
#helloDiv > h2 {
  font-size: 2rem;
  color: #90bed4;
}

span {
  color: white;
}

.theaterimg {
  border-radius: 7px;
}
#helloDiv {
  margin-top: 10px;
  width: 98%;
  height: 5.3rem;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #1f3c59;
}
.blocks {
  box-shadow: 5px 5px 10px 1px #504d49;
}

/* 여기부터 셀렉트박스 */
.multiselect {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #454361;
  border-radius: 10px;
}
.multiselect > input[type="submit"] {
  all: unset;
  width: 20%;
  height: 100%;
  background: #373a54;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  color: white;
}
.boxWrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-radius: 10px 0 0 0;
}
.selectBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.selectBox select {
  all: unset;
}
.selectBox p {
  width: 98%;
  padding: 2%;
  height: 27px;
  color: white;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.overSelect {
  background-color: #6c4289;
  border-radius: 10px 0 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  width: 98%;
  padding-left: 2%;
  overflow: scroll;
  display: block;
  color: white;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  color: white;
  background-color: #1e90ff;
}
#container {
  margin: 0 auto;
  display: block;
}
#theaters {
  display: block;
  float: left;
  border-radius: 10px;
  background: var(--MainPreset11);
}
#theaters > ul > li {
  padding: 10px;
  text-align: center;
  float: left;
  padding-bottom: 0.5rem;
}
#theaters > ul > li > span {
  color: var(--DarkBrown);
}
.addImg {
  width: 90px;
}
.modTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventTitle {
  width: 120%;
  height: 50px;
  display: flex;
  color: var(--MainPreset5);
  background-color: #607c57;
  justify-content: center;
  align-items: center;
}
.addTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  color: var(--MainPreset10);
  background-color: var(--DarkBrown);
  /* box-shadow: 0 0 0 1px #000 inset; */
}
.delTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  color: var(--MainPreset10);
  background-color: #30212a;
}
.modifyTheater {
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modTheaterWrapper {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.addTheater {
  width: 50%;
  height: 100%;
  background-color: #372f2f;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0 0 0 10px;
}
.textWrapper {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnWrapper {
  position: relative;
  width: 135%;
  height: 15%;
  bottom: 0;
}
.delTheater {
  width: 30%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #402b37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0 0 10px 0;
}
.modifyEvent {
  display: block;
  height: 400px;
  float: left;
  background: #4a9474;
  border-radius: 10px;
  overflow: hidden;
}
.addEvent {
  width: 90%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addEvent > form {
  width: 80%;
}
textarea {
  width: 100%;
  resize: none;
}
#addMovieList {
  width: 100%;
  height: 100%;
  float: left;
  background: #521f52;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectTheater {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectMovie {
  float: left;
  display: flex;
  flex-direction: column;
}
.modifyNotice {
  display: block;
  float: left;
  width: 98%;
  margin: 1%;
  padding-top: 50px;
  background: #314c5e;
  border-radius: 10px;
}
#submitBtn_addTheater {
  all: unset;
  width: 100%;
  height: 100%;
  background: #493e3f;
  color: var(--MainPreset10);
  display: flex;
  justify-content: center;
  align-items: center;
}
#submitBtn_delTheater {
  all: unset;
  width: 100%;
  height: 100%;
  background: #4d3645;
  color: var(--MainPreset10);
  display: flex;
  justify-content: center;
  align-items: center;
}
#submitBtn_addEvent {
  all: unset;
  width: 100%;
  height: 100%;
  background: #60a37e;
  display: flex;
  color: var(--MainPreset6);
  justify-content: center;
  align-items: center;
}
.eventItems {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#boardlist {
  width: 100%;
}
.eventImg {
  width: 75px;
  height: 75px;
  margin-right: 30px;
}

.itemWrapper {
  background-color: none;
  border: 2px solid white;
  color: white;
  display: flex;
  align-items: center;
}
.contents {
  position: relative;
  min-height: 20px;
  border: 2px solid white;
  background-color: white;
  word-break: break-all;
  padding: 10px;
  margin-bottom: 50px;
  color: black;
  text-align: left;
}

.modTheaterName {
  width: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/* ! PC 웹 페이지 크기 */
@media (min-width: 1100px) {
  #container {
    width: 1100px;
  }
  #theaters {
    width: 58%;
    margin: 1%;
  }
  #theaters > ul > li {
    width: 9.3rem;
  }
  .theaterimg {
    width: 8.7rem;
    height: 7rem;
  }
  .modifyEvent {
    width: 38%;
    height: 26.6rem;
    margin: 1%;
  }
  #addMovieList {
    width: 38%;
    height: 20rem;
    margin: 1%;
  }
  #theater {
    font-size: 1rem;
  }
  #checkboxes {
    height: 260px;
  }
  .selectTheater {
    width: 30%;
    height: 20rem;
  }
  .selectMovie {
    width: 70%;
    height: 20rem;
  }
  .eventItems {
    width: 50%;
    min-height: 6.6rem;
  }

  .itemWrapper {
    width: 450px;
    height: 75px;
  }

  .contents {
    width: 430px;
  }
}

/* ! 태블릿크기 */
@media (max-width: 1100px) {
  #container {
    width: 800px;
  }
  #theaters {
    width: 98%;
    margin: 1%;
  }
  #theaters > ul > li {
    width: 136px;
  }
  .theaterimg {
    width: 7rem;
    height: 4.6rem;
  }
  .delTheater > form {
    width: 90%;
    height: 100%;
  }
  .modifyEvent {
    width: 48%;
    margin: 1%;
    height: 400px;
  }
  #addMovieList {
    width: 48%;
    margin: 1%;
    height: 400px;
  }
  #theater {
    font-size: 1rem;
  }
  #checkboxes {
    height: 360px;
  }
  .selectTheater {
    width: 35%;
    height: 400px;
  }
  .selectMovie {
    width: 65%;
    height: 400px;
  }
  .eventItems {
    width: 50%;
    min-height: 100px;
  }

  .itemWrapper {
    width: 350px;
    height: 75px;
  }

  .contents {
    width: 330px;
  }
}

/* ! 휴대폰 크기 */
@media (max-width: 800px) {
  #container {
    width: 650px;
  }
  #theaters {
    width: 98%;
    margin: 1%;
  }
  #theaters > ul > li {
    width: 99px;
    padding-left: 18px;
  }
  .theaterimg {
    width: 90px;
    height: 60px;
  }
  .delTheater > form {
    width: 90%;
    height: 100%;
  }
  .modifyEvent {
    width: 98%;
    height: 400px;
    margin: 1%;
  }
  #addMovieList {
    display: flex;
    width: 98%;
    height: 300px;
    margin: 1%;
  }
  #theater {
    font-size: 0.8rem;
  }
  #checkboxes {
    height: 255px;
  }
  .selectTheater {
    width: 237px;
    height: 300px;
  }
  .selectMovie {
    width: 400px;
    height: 300px;
  }
  .eventItems {
    width: 100%;
    min-height: 100px;
  }
  .itemWrapper {
    width: 500px;
    height: 75px;
  }
  .contents {
    width: 480px;
  }
}
